body
{
  padding-top: 50px;
}
.starter-template
{
  padding: 0px 15px;
  text-align: center;
}

h1
{
	margin: 0;     
	color: #488dff;
	padding-top: 50px;
	font-size: 48px;
	font-family: "trebuchet ms", sans-serif; 
	text-shadow: 2px 2px #bdbdbd
}
